* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    color: white;
    background-color: rgb(46, 44, 44);
}

.home{
    background-image: linear-gradient(60deg, rgb(46, 44, 44) 60%, rgb(53, 115, 231) 30%, rgb(21, 169, 214) 72%);
}

.nav_container{
    background-color: rgb(15, 55, 117);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    padding: 10px;
    font-size: 2rem; 
}

.nav_links {
    display: flex;
    list-style: none;
}

.nav_links>li {
    padding: 10px;
    margin: 10px;
    font-size: 1.2rem;
}

.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    padding: 30px 0;
}

.intro_heading{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 300px;
    margin-top: 50px;
}

.intro_container{
    margin-left: 40px;
    width: 150%;
}

.intro_container>h2{
    font-size: 2rem;
    font-weight: 300;
    padding: 10px;
} 

.intro_container> h1{
    font-size: 3.5rem;
    font-weight: 600;
    padding: 10px;
}

.name, .profession{
    color: rgb(0, 195, 255);
}

.intro_para{
    margin-bottom: 75px;
}

.intro_para>p{
    width: 50%;
    text-align: left;
    font-size: 1rem;
    line-height: 30px;
    padding-left: 45px;
}

.img_container{
    width: 150%;
}

.img_container > img{
    width: 90%;
    margin-top: 80px;
}

.projects{
    background-color: white;
    color: black;
}

.projects> h1{
    font-size: 2.7rem;
    text-align: center;
    padding: 55px 10px 0 10px;
}

.project_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 50px 50px;
    justify-content: center;
    gap: 20px;
}

.project_container>div{
    background-color: aliceblue;
    border-radius: 10px;
}

.project_container>div>h2{
    padding: 30px 20px;
    font-weight: 300;
}

.project_container>div>img{
    height: 50%;
    width: 100%;
    padding: 15px 20px 0 20px;

}

.project_container>div>p{
    padding: 0 20px;
}

.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills>h1{
    font-size: 2.7rem;
    text-align: center;
    padding: 100px 10px 0 10px;
}

.skill_cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    width: 70%;
    margin: 100px 0;
}

.card{
    background-color: rgb(56, 53, 53);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card>h3{
    padding-left: 20px;
}

.footer{
    background-image: linear-gradient(to right, rgb(42 79 129) 30%, rgb(42 79 131) 50%, rgb(96, 167, 255) 100%);
}

.footer>h2{
    font-size: 2.7rem;
    padding: 100px 0 0 85px;
}

.footer_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-evenly;
}

.footer_content>img{
    width: 38%;
    padding: 0px 100px 0 0;
}

@media only screen and (max-width: 1100px){
    .home{
        background-image: linear-gradient(70deg, rgb(46, 44, 44) 66%, rgb(53, 115, 231) 20%, rgb(21, 169, 214) 72%);
    }
    .intro_para{
       margin-top: 40px;
    }
    .intro_para>p{
        margin-top: 20px;
    }
    .project_container{
        grid-template-columns: repeat(2, 1fr);
    }
    .project_container>div>h2{
        padding: 30px 0 10px 23px;
    }
    .card>h3{
        padding: 0 10px 0 10px;
    }
    .footer>h2{
        padding-left: 35px;
    }
}

@media only screen and (max-width: 600px) {
    .home{
        background-image: linear-gradient(70deg, rgb(46, 44, 44) 70%, rgb(53, 115, 231) 20%, rgb(21, 169, 214) 72%);
    }
    .logo{
        font-size: 1.4rem;
    }
    .nav_links>li{
        font-size: 0.8rem;
        margin: 0;
    }
    .intro{
        margin-top: 0;
    }
    .intro_heading{
        margin: 0;
        padding: 0;
    }
    .intro_container>h2{
        font-size: 1.4rem;
    }
    .intro_container>h1{
        font-size: 1.5rem;
        padding: 5px;
    }
    .img_container>img{
        width: 100%;
    }
    .intro_para{
        margin: 0;
    }
    .intro_para>p{
        font-size: 0.8rem;
        line-height: 1.2rem;
        text-align: center;
        width: 90%;
    }
    .projects>h1{
        font-size: 1.5rem;
    }
    .project_container{
        grid-template-columns: 1fr;
        padding: 20px;
    }
    .project_container>div>h2{
        font-size: 1.4rem;
    }
    .project_container>div>p{
        font-size: 0.8rem;
    }
    .skills>h1{
        font-size: 1.5rem;
    }
    .skill_cards{
        grid-template-columns: repeat(2, 1fr);
    }
    .card{
        flex-direction: column;
    }
    .skill_cards>.card>h3{
        font-size: 1rem;
        padding: 10px 0;
    }
    .footer>h2{
        font-size: 1.5rem;
        padding: 50px 0px 0 50px;
    }
    .links>div>svg{
        height: 30px;
        width: 30px;
    }
    .links{
        padding: 40px 0 0 40px;
    }
    .footer_content>img{
        width: 50%;
        padding-right: 20px;
    }
}
